#body{
background-color: #3d4045;
}
.nav{
text-align: right;
}
#welcomeimage{
    width: 100%;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#welcomeimagejpg {
    width: 100%;
}
#aboutme {
    text-align: center;
    color:white;
}
#footer {
    margin-bottom: 0px;
    background-color: #3d4045;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color : white;
}
.rounded-circle{
    width:60px;
}
#plswork{
    text-align: right;
}
#firstskill{
    text-align: center;
    color: white;
}
#secondskill{
    text-align: center;
    color: white;
}
.jumbotron-fluid1 {
    color:white;
    background-color : #384D99;
}
#links{
    color:white;
}
